body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}



h1 {
    font-size: 40px;
    padding-top: 100px;
    padding-left: 90px;
    font-weight: 700;
    color: gray;
}

p {
    padding-left: 90px;
    font-size: 15px;
    margin-bottom: 30px;
}

a {

    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 15px;
    margin-left: 90px;
    border-radius: 60px;
    font-style: oblique;
    font-weight: 700;
    color: antiquewhite;

}

.orange {
    color: orangered;
}

.flexible {
    display: flex;
    width: 50%;
}

.flexible img {
    width: 200%;
    height: 100%;
    padding-top: 27%;
    padding-left: 40%;
}